body {
  background-image: url(bricks.jpg);
  text-align: center;

}
h1 {
  color:aliceblue;
  font-family: "Hind", sans-serif;
}

a {
  text-decoration: none;
  color: purple; 
}

footer {
  color: white;
}